@import "./fonts.scss";
@import "./colors.scss";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Nunito Sans", sans-serif;
}
%style-boxshadow {
	box-shadow: 0 0 1.3px var(--box-shadow);
}
.container {
	width: 100%;
	transition: 0.3s ease-in;
}
.container-max {
	max-width: 1240px;
	margin: 0 auto;
}
.background-header {
	@extend %style-boxshadow;
	background-color: var(--background-primary);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9;
}

.background-body {
	background-color: var(--background-secondary);
}

.filter-body {
	background-color: var(--background-secondary);	
	position: fixed;
	top: 80px;
	z-index: 10;
	@extend %style-boxshadow;
}