@import "./config/config.scss";

.bordercountry {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	padding: 1rem 0;
	justify-content: space-between;

	&-container {
		padding: 20px;
		color: var(--text-color);
	}
	&-title {
		font-weight: 600;
		font-size: 1.2rem;
	}
	&-item {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 40px;
		padding: 5px 30px;
		background-color: var(--background-primary);
		@extend %style-boxshadow;
		font-size: 1rem;
		font-weight: 300;
		border-radius: 3px;
		cursor: pointer;
		text-decoration: none;
		color: var(--text-color);
	}
	&-nofound {
		font-style: italic;
	}
}
