@import "./config/config.scss";
.card {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	border-radius: 0.5em;
	cursor: pointer;
	text-decoration: none;
	color: var(--text-color);
	background-color: var(--background-primary);
	@extend %style-boxshadow;

	&-image {
		width: 1fr;
		
		object-fit: cover;
	}
	&-text {
		padding: 1.5em;
		
		&-title {
			font-weight: 600;
			font-size: 1.1em;
			margin-bottom: 1em;
		}
		&-description {
			font-size: 0.9em;
			font-weight: 200;
			color: rgba(var(--text-color), 0.6);
			line-height: 1.5em;
			&-bold {
				margin-right: 0.5em;
				font-weight: 300;
				color: var(--text-color);
			}
		}
	}

	&:hover {
		animation: example both 0.7s;
	}
}

@keyframes example {
	0% {
		transform:translateY(-7px);
	}
	
	100% {
		translatey: translateY(0px);
	}
}
