@import "./config/config.scss";

.filter-container {
	padding: 0 20px;
}

.form-container {
	padding: 20px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 2rem;
	color: var(--text-color);

	@media screen and (max-width: 600px) {
		flex-direction: column;
	}

	&-search {
		@extend %style-boxshadow;
		background-color: var(--background-primary);
		padding: 10px;
		display: flex;
		height: 40px;
		align-items: center;
		border-radius: 5px;
		
		
		&-icon {
			
			margin-right: 10px;
			
		}
		&-input {
			width: 100%;
			background-color: var(--background-primary);
			border: none;
			user-select: none;
			color: var(--text-color);
            font-weight: 300;
			outline: none;
			height: 40px;
			
		}
	}
	&-filter {
		@extend %style-boxshadow;
		background-color: var(--background-primary);
		padding: 10px 20px;
		border: none;
		border-radius: 5px;
		color: var(--white);
      font-weight: 300;
		&-option {
            cursor: pointer;         
		}
	}
}
