.gridcountries {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 400px;
	gap: 2.5em;
	padding: 20px 20px 20px 20px;

	@media screen and (max-width: 600px) {
		grid-template-columns: repeat(1, 1fr);
	}
	@media screen and (min-width: 600px) and (max-width: 800px) {
		grid-template-columns: repeat(2, 1fr);
	}
	@media screen and (min-width: 800px) and (max-width: 1000px) {
		grid-template-columns: repeat(3, 1fr);
	}
	&-vacio{
		display: flex;
		justify-content: center;
		align-items: center;
		color: var(--text-color);
		grid-column-start: 1;
  		grid-column-end: 5;
		font-size: 1.4rem;
		font-style: italic;
	}
}

