@import "./config/fonts.scss";
@import "./config/config.scss";
@import "./config/colors.scss";

.darck_blue {
	background-color: var(--dark-blue)
}
.nav {
	margin: 0 auto;
	max-width: 1240px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	&__title {
		color: var(--white);
		font-weight: 600;
	}
	&__mode {
		display: flex;
		height: 30px;
		align-items: center;
		color: var(--white);
		font-weight: 300;
		svg {
			margin-right: 10px;
		}
	}
}
