@import "./config/config.scss";

.return-container {
	width: 100;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&-button {
		width: 110px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border: none;
		padding: 10px 20px;
		background-color: var(--background-primary);
		border-radius: 5px;
		@extend %style-boxshadow;
		color: var(--text-color);
		font-size: 1rem;
		font-weight: 300;
		cursor: pointer;
		text-decoration: none;
		&:hover{
			background-color:rgba(#000,0.3) ;
		}
	}
}
